@import "partials/settings";
@import "partials/foundation";
@import "partials/base";
@import "partials/helperClasses";

html {
  box-sizing: border-box;
  font-size:10px;

}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 1.4;
}
body {
    background: #fff;
}
p, ul{
    font-weight: 300;
}


/*
* modules
* ================================
*/
@import "modules/topSlide";
@import "modules/menubar";
@import "modules/mainContent";
@import "modules/contactForm";
@import "modules/footer";