/*
* global variables
* ================================
*/
// $default_bgColor : rgba(0,0,0,0.4);
$default_bgColor : #F5F5F5;

/*
* global mixins
* ================================
*/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: flex;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .aspect-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin background-size($background-size) {
  -webkit-background-size: $background-size;
     -moz-background-size: $background-size;
       -o-background-size: $background-size;
          background-size: $background-size;
}