/*
* full width and height
* ================================
*/
.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aligner-item {
  max-width: 50%;
}

.aligner-item--top {
  align-self: flex-start;
}

.aligner-item--bottom {
  align-self: flex-end;
}

.uppercase{
    text-transform: uppercase;
}
.rounded_btn{
    margin: 0 auto;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    padding: 5px;
    border: 1px solid #fff;
}
.rounded_btn:hover{
    background: rgba(255,255,255,0.1);
}
.button:hover{
    cursor: pointer;
}
.required{
  color: #FC4F4F;
  display: block;
  padding: 0 1.0em;
}
.shadow {
  -webkit-box-shadow: 0px 0px 3px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    0px 0px 3px 0px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         0px 0px 3px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.article{
  display: flex;

  .article-line{
    width: 15%;
    max-width: 15%;
    padding: 1.0em;

    .article-line__line{
      width: 100%;
      min-height: 3em;
      margin-top: 1.5em;
      border-top: 1px solid #000;
    }
  }
  .article-text{
    max-width: 85%;
  }
}

ul{
  list-style: none;
  
  li:before { 
    content:''; 
    display:inline-block;
    height:0.8em;
    width:1em; 
    background-image:url('../images/arrow_bullet_point.svg'); 
    background-size:contain; 
    background-repeat:no-repeat; 
    padding-left: 1.5em; 
    margin-left: -0.5em;
  }
}
.subtitle{
    text-transform: uppercase;
}