#contactForm{
    background: #F5F5F5;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start; 
    padding: 5.0em 0;
    width: 97%;
    margin: 0 auto;

    #contactForm-form{
        margin-top: 1.0em;
        width: 100%;
    
        .large-8{
            width: 100%;
        }
        .subtitle{
            text-transform: uppercase;
        }
        .input-group{
            margin-top: 2.50em;
        }
        label{
            font-size: 1.0em;
        }
        input{
            font-size: 1.5em;
            padding: 1.0em;
            width: 100%;
            // border: 1px solid #E0E0E0;
            background: #F5F5F5;
            border: 0;
            -webkit-box-shadow: inset 0px 2px 2px 0px #E0E0E0;
            -moz-box-shadow: inset 0px 2px 2px 0px #E0E0E0;
            box-shadow: inset 0px 2px 2px 0px #E0E0E0;
        }
        button{
            margin-top: 1.0em;
            font-size: 1.0em;
            width: 100%;
            padding: 1.0em 0;
            text-transform: uppercase;
            font-weight: 300;
        }
        .error{
            font-size: 1.0em;
        }
    }

}