#mainContent{
    width: 97%;
    margin: 0 auto;

    p, ul{
        font-size: 1.0em;
    }
    
    .row{
        max-width: 100%;
        margin: 5em 0;
    }

    .subtitle{
        text-transform: uppercase;
        color: #BFBFBF;
    }
    .blockquote{
        border: 0.5em solid #F5A623;
        padding: 2.0em;

        .blockquote-header{
            padding: 2.0em 0;
        }
        .blockquote-footer{
            margin: 1.0em auto;
            font-size: 0.75em;
        }
    }
}