$topSlide_bg_image : '../images/TopSlide--bgImage01.png';
$titleText_color : rgba(255,255,255, 1.0);
$btn_border_color : rgba(255,255,255,1.0);

#topSlide{
    position: relative;
    display: flex;
    width: 100%;
    @include aspect-ratio(16, 9);
    background: url($topSlide_bg_image)no-repeat, center, center, fixed;
    @include background-size(cover);

    .button{
        background: transparent;
        border: 1px solid $btn_border_color;
    }
    .button:hover{
        background: rgba(255,255,255,0.1);
    }
}

#topSlide-topBar{
    height: 5.0em;
    padding: 1.0em;
    z-index: 3;
}

#topSlide-text{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.topSlide-subTitle{
    flex: 0 0 100%;
    color: $titleText_color;
}
.topSlide-titleText{
    font-size: 2.4em;
    color: $titleText_color;
}

.topSlide-btnNextSection{
    min-height: 5.0em;
    padding: 1.0em;
    z-index: 1;
    margin: 1.0em auto;
    width: 100%;
    position: absolute;
    bottom: 50px;
    right: 0;
}